:root {
    --space:5em;
}

html {
    font-size:14px;

}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background: #fcfcfc;
    padding:var(--space);
}

.link-div {
    border-bottom:1px dashed #ccc;
    padding-bottom:2rem;
    margin-bottom:2rem;
}

img {
    display: block;
    top: 2rem;
    margin: 0 auto;
    position: absolute;
    opacity: 50%;
    right: 2rem;
}

img:hover{
    opacity: 100%;
}

a.pin-link {
    text-decoration: none;
    line-height: 2rem;
    color: #000000;
    font-family: monospace;
}

a.pin-link:hover {
    color:#f92672;
}

p.link-extra {
    margin:1rem 0px 0.5rem;
}

.content{
    font-size: 1.5em;  
    text-align: left;
    margin: 0 var(--space);
    width:100%;
}

.content .link-desc {
    text-decoration: none;
    font-size: 1.15em;
    margin: 15px 0px -15px 0px;
    color: #1d34ff;
}

.content .link-desc:hover{
    border-radius: 4px;
    color: #f92672;;
}

input {
    border-radius: 4px;
    height: 30px;
    width: 330px;
    border: none;
    padding: 0px 0px 0px 8px;
    font-size: 1.5em;
    font-family: monospace;
}

button {
    margin-left: 5px;
    height: 30px;
    width: 60px;
}

#trash{
    font-size: 28px;
    text-decoration: none;
    position: absolute;
    top: 70px;
    right: 18px;
    opacity: 50%;
}

#trash:hover{
    opacity: 100%;
    cursor: pointer;
}

#status{
    color: #d8d8d6;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }